<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="0c68bafc-1b8e-4892-b835-0d68d849ca26" name="TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="0c68bafc-1b8e-4892-b835-0d68d849ca26fileName">TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
